.bgc-bj {
    background-color: rgb(68, 68, 68);
}

.h-hav {
    margin: 10px 0 10px 30px;
    color: rgb(204, 204, 204);
    font-size: 14px;
}

.h-hav:hover {
    color: white;
}

.input-ipt {
    width: 200px;
    height: 25px;
    text-indent: 2em;
    background-color: rgb(136, 136, 13 border-radius: 20px;

    }

    /* 鼠标移入样式 */
    .ipt {
        background-color: #fff;
    }

    .sousuo {
        color: thistle;
    }

    .shou:hover {
        cursor: pointer;
    }

    .icon-sousuo {
        font-size: 12px !important;
        position: absolute;
        left: 8px;
        top: 6px;
    }