.bgc-bj {
    background-color: rgb(68, 68, 68);
}

.h-hav {
    margin: 10px 0 10px 30px;
    color: rgb(204, 204, 204);
    font-size: 14px;
}

.h-hav:hover {
    color: white;
}

.input-ipt {
    width: 200px;
    height: 25px;
    text-indent: 2em;
    background-color: rgb(136, 136, 136);
    border-radius: 20px;

}

/* 鼠标移入样式 */
.ipt {
    background-color: #fff;
}

.sousuo {
    color: thistle;
}

.shou:hover {
    cursor: pointer;
}

.icon-sousuo {
    font-size: 12px !important;
    position: absolute;
    left: 8px;
    top: 6px;
}

/* 内容 */
.content {
    background-color: rgb(225, 225, 225);
}

/* 底部 */
.line {
    background-color: darkgrey;
}

.foot {
    padding-top: 30px;
    padding-bottom: 30px;

}

.foot2 {
    color: rgb(179, 189, 214);
}

.foot2-img {
    height: 63px;
}

.foot3 {
    cursor: pointer;
    color: rgb(0, 85, 161);
    color: rgb(7, 145, 214);
}

.foot3:hover {
    text-decoration: underline;
}