.bgc-bj {
    background-color: rgb(68, 68, 68);
}

.h-hav {
    margin: 10px 0 10px 30px;
    color: rgb(204, 204, 204);
    font-size: 14px;
}

.h-hav:hover {
    color: white;
}

.input-ipt {
    width: 200px;
    height: 25px;
    text-indent: 2em;
    background-color: rgb(136, 136, 136);
    border-radius: 20px;

}

.c-l {
    background-color: rgb(246, 246, 246);
}


.logo {
    width: 120px;
}

/* 鼠标移入样式 */
.ipt {
    background-color: #fff;
}

.sousuo {
    color: thistle;
}

.shou:hover {
    cursor: pointer;
}

.icon-sousuo {
    font-size: 12px !important;
    position: absolute;
    left: 8px;
    top: 6px;
}

/* 内容 */
.content {
    background-color: rgb(225, 225, 225);
}

/* 底部 */
.line {
    background-color: darkgrey;
}

.foot {
    padding-top: 30px;
    padding-bottom: 30px;

}

.foot2 {
    color: rgb(179, 189, 214);
}

.foot2-img {
    height: 63px;
}

.foot3 {
    color: rgb(7, 145, 214);
}

.rss:hover {
    color: rgb(0, 85, 161);
}

.foot3:hover {
    cursor: pointer;
    color: rgb(0, 85, 161);
    text-decoration: underline;
}


.hqnrhz img {
    width: 400px;
}

.hf {
    padding-left: 15px;
}

/* 获取数据样式 */

/* 置顶样式 */
.bth {
    width: 500px;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 15px;
}

.dbt {
    display: flex;
    margin-top: 10px;
}

.zd {
    border-radius: 2px;
    color: white;
    padding: 2px;
    margin: 5px;
}

/* 圆点*/
.dot {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: rgb(131, 131, 131);
    margin: auto 5px;
}

.fbt {
    color: rgb(131, 131, 131);
    display: flex;
    align-items: center;
    margin-top: 10px;

}

.zzimg {
    width: 30px;
    height: 30px;
}

/* 评论 */
.plyh {
    display: flex;
    padding: 20px;
}

.plyh .pl-img {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
}

.plm {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.lc {
    display: flex;
    align-items: center;
}

.plnr {
    padding-left: 70px;
    margin-top: -15px;
    font-size: 16px;
}