.bgc-bj {
    background-color: rgb(68, 68, 68);
}

.h-hav {
    margin: 10px 0 10px 30px;
    color: rgb(204, 204, 204);
    font-size: 14px;
}

.h-hav:hover {
    color: white;
}

.logo {
    width: 120px;
}


/* 内容 */
.input-ipt {
    width: 250px;
    height: 30px;
    border: 1px solid black;
    text-indent: 25px;
    border-radius: 5px;

}

.lb {
    width: 70px;
}



/* 鼠标移入样式 */
.sousuo {
    color: thistle;
}

.shou:hover {
    cursor: pointer;
}

.icon-sousuo {
    font-size: 12px !important;
    line-height: 30px;
    position: absolute;
    left: 8px;
    /* top: 6px; */
}

/* 内容 */
.content {
    background-color: rgb(225, 225, 225);
}

.c-l {
    background-color: rgb(246, 246, 246);
}

.ls {
    color: rgb(128, 189, 1);

}

.login {
    border: none;
    width: 130px;
    /* margin: 25px 0 0 10px; */
    color: rgb(15, 15, 15);
    /* background-color: rgb(91, 192, 222); */
}






/* 按钮启用的样式 */
.btn {
    background-color: rgb(114, 113, 113);
}

.btn:hover {
    cursor: pointer;
}

.jy:hover {
    cursor: not-allowed;
}

/* 用户名与密码框聚焦样式 */
.jj {
    border-color: rgb(117, 185, 240);
    box-shadow: 0 0 10px rgb(117, 185, 240);
}


/* .dl-1:hover { */
/* background-color: rgb(0, 85, 204); */
/* } */

.dl-box {
    margin-left: 80px;
    margin-top: 50px;
}

.ddl {
    color: rgb(10, 9, 9);

    border: none;
}

.dl {
    margin-top: 25px;
    margin-bottom: 30px;
}





/* 底部 */
.line {
    background-color: darkgrey;
}

.foot {
    padding-top: 30px;
    padding-bottom: 30px;

}

.foot2 {
    color: rgb(179, 189, 214);
}

.foot2-img {
    height: 63px;
}

.foot3 {
    color: rgb(7, 145, 214);
}

.foot3:hover {
    cursor: pointer;
    color: rgb(0, 85, 161);
    text-decoration: underline;
}

.rss:hover {
    color: rgb(0, 85, 161);
}

/* 鼠标效果 */
.shou-xhx:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* 登录在用户名与密码简单判断未通过时是禁用的 */
/* .jy:hover { */
/* cursor: not-allowed; */
/*  */
/* } */

.mmts {
    color: red;
    margin-left: 10px;
}

.yhmts {
    color: red;
    margin-left: 10px;
}